<div class="row accommodation-ratings">
    <div class="col-md-7 col-sm-8">
        <div class="well hotel-ratings-details">
            <div class="row">
                <div class="hotel-ratings-aggregated">
                    <!-- green -->
                    <div class="clearfix rating-circle">
                        <div class="c100 p50 big green">
                            <span>50%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                     <!-- /green -->
                    <div class="hotel-rating-box-tool">
                        <strong>Excellent</strong><br>(<span itemprop="reviewCount">32</span> guest reviews )
                       <div class="rating-speakabout" rel="tooltip_top" data-original-title="100% gości poleciłoby ten obiekt znajomym">
                        <span class="glyphicon glyphicon-speakabout font-16"></span>
                    </div>
                    <div class="rating-quality-icons">
                        <span class="glyphicon glyphicon-excellent-hotel" rel="tooltip_top" title="" data-original-title="Doskonały obiekt"></span>
                        <span class="glyphicon glyphicon-suggested-partner" rel="tooltip_top" title="" data-original-title="Polecany partner"></span>
                    </div>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-push-6 hotel-ratings-details-list">
                    <ul class="rating-list list-unstyled">
                        <li>Personel:
                            <div class="clearfix small-circle">
                                <div class="c100 p50 small green">
                                    <span>80</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>Location:
                            <div class="clearfix small-circle">
                                <div class="c100 p50 small green">
                                    <span>70</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>Parking:
                            <div class="clearfix small-circle">
                                <div class="c100 p50 small green">
                                    <span>90</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>Pet friendly:
                            <div class="clearfix small-circle">
                                <div class="c100 p50 small green">
                                    <span>50</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>Restaurant:
                            <div class="clearfix small-circle">
                                <div class="c100 p50 small green">
                                    <span>50</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-4 hidden-xs map-hotelpage-rating-usp-container">
        <ul class="page-usp list-iconic list-unstyled">
            <li><i class="fas fa-check"></i>The users of our page can only post reviews based on valid and personal experience. </li>
            <li><i class="fas fa-check"></i>Already 894 800 valid guest ratings</li>
        </ul>
    </div>
</div>