<div class="container reviews">
  <div class="row">
      <app-breadcrumbs [hotel]="hotel" [static_text]="static_label"></app-breadcrumbs>
  </div>

  <div *ngIf="hotel && comments" class="row">
    <div class="col-md-3">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="http://lorempixel.com/251/254/city?rand={{ hotel.id }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> {{ hotel.name }}</h5>
              <app-rating-stars></app-rating-stars>
            </div>
        </div>
        <div class="card rating-block">
            <div class="card-block">
                <b>Rating:  </b>
                <span>9.8 / 10</span>
                <br>
                <br>
                <a href="#" class="btn btn-primary add-review-btn" data-toggle="modal" data-target="#add-review-form">Add review</a>
                <app-modal-add-review></app-modal-add-review>
              </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-12">
              <div class="pagination-block">
                  <app-pagination [count_results]="20" [active_page]="1" [hotel]="hotel"></app-pagination>
              </div>
              <h3>User Comments</h3>
            </div><!-- /col-sm-12 -->
          </div><!-- /row -->
          <div *ngFor="let comment of comments" class="row comment-row">
            <div class="col-sm-1">
              <div class="thumbnail">
                <img class="img-fluid user-photo" src="http://lorempixel.com/41/41/people?rand={{ comment.id }}">
              </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->
        
            <div class="col-sm-11">
              <div class="card">
                <div class="card-header">
                  <strong>{{ comment.sender }}</strong> <span class="text-muted">commented 5 days ago</span>
                </div>
                <div class="card-body">
                  {{ comment.content }}
                </div><!-- /panel-body -->
              </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
          </div><!-- /row -->
    </div>
  </div>
</div><!-- /container -->