<div class="container search">
    <div class="row">
        <app-breadcrumbs></app-breadcrumbs>
    </div>

   <div class="row">
      <div class="col-lg-3 col-xs-12">
            <span class="heading">Sort by:</span>
            <app-search-filters></app-search-filters>
      </div>
      <div class="col-lg-9 col-xs-12">
          <div class="pagination-block">
              <app-pagination></app-pagination>
          </div>
          
          <h4>Search result</h4>
          <hr>
          <app-search-results></app-search-results>
      </div>
   </div>
</div>
