<form class="filter-form">
    <div class="form-group">
      <label for="location">Enter city or region</label>
      <input type="text" class="form-control" id="location" aria-describedby="locationHelp" placeholder="Enter city or region">
      <small id="locationHelp" class="form-text text-muted">Enter city or region</small>
    </div>
    <span class="heading">Acomodation services:</span>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="type1" name="accommodation_type">
        <label class="form-check-label" for="type1">
          Hotel
        </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="type2" name="accommodation_type">
      <label class="form-check-label" for="type2">
          Apartments
      </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="type3" name="accommodation_type">
        <label class="form-check-label" for="type3">
          Guest rooms
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="type4" name="accommodation_type">
        <label class="form-check-label" for="type4">
          Villas
        </label>
    </div>
    <button type="submit" class="btn btn-primary submit">Submit</button>
</form>